.footer__container{
    display: flex;
    justify-content: space-around;
    color: white;
    object-fit: contain;
    

}

.social_networks__container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social_networks__label{
    margin-left: 8px;
}