.footer__container{
    display: flex;
    justify-content: space-between;
    flex-wrap:  wrap;
    color: white;
    margin-bottom: 20px;
    
    

}
.footer__logo{
    max-width: 300px;
}

.social_networks__container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social_networks__label{
    margin-left: 8px;
}